/* TODO: this file could benefit from splitting up and removing dead selectors */

:root {
  --rp-font-family-base: "IBM Plex Sans", sans-serif;
  --rp-font-family-mono: "UnifontEx", monospace;
  --rp-c-text-1: #202020;
  --rp-c-text-2: #434343;
  --rp-c-code-block-bg: #f8f8f8;
  --rp-c-text-code: #202020;
  --rp-c-bg: #fcfcfc;
  --rp-c-link: rgb(73, 119, 245);

  --code-base-color: rgb(15, 15, 15);
  --code-string-color: rgb(95, 160, 3);
  --code-keyword-color: rgb(123, 99, 158);
  --code-attr-color: rgb(54, 143, 178);
  --code-built-in-color: rgb(192, 105, 23);
  --code-comment-color: rgb(130, 130, 130);

  --nav-color: #f5f5f5aa;
}

.rspress-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nav-color);
  backdrop-filter: blur(20px);
  z-index: -1;
  pointer-events: none;
}

.rspress-nav {
  background: transparent;
}

.rspress-nav-menu-item {
  letter-spacing: 0.03em !important;
  font-weight: 600 !important;
}

.dark {
  --rp-c-bg: #16151c;
  --rp-c-bg-soft: rgb(31, 31, 40);
  --rp-c-bg-mute: rgb(32, 32, 43);
  --rp-c-link: rgb(128, 162, 255);
  --rp-c-text-code-bg: rgb(31, 31, 40);
  --rp-c-text-code: #efefef;
  --rp-c-code-block-bg: #101014;
  --rp-c-text-1: #eee;
  --rp-c-text-2: #a0a0a0;

  --code-base-color: var(--rp-c-text-1);
  --code-string-color: rgb(254, 247, 143);
  --code-keyword-color: rgb(213, 198, 250);
  --code-attr-color: rgb(162, 185, 247);
  --code-built-in-color: rgb(253, 178, 64);
  --code-comment-color: rgb(145, 145, 145);

  --nav-color: #121117aa;
}

.rspress-nav-menu-group-content > * {
  padding: 0.25rem 0.5rem;
  border-radius: 14px !important;
}

.rspress-nav-menu-item {
  border-radius: 8px !important;
}

.rspress-nav-menu-group-content .rounded-2xl {
  border-radius: 8px !important;
}

.rspress-nav-search-button > :last-of-type div {
  min-width: 3rem;
}

html {
  line-height: 1.6;
}

body {
  font-weight: 400;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", sans-serif;
  letter-spacing: 0 !important;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  font-weight: 400 !important;
}

p {
  line-height: inherit !important;
}

p code,
li code {
  font-size: 1.085em !important;
}

code.language-typescript,
code.language-bash,
code.language-json {
  font-size: 1.15em !important;
}

code {
  font-family: var(--rp-font-family-mono) !important;
  font-size: 1em !important;
  line-height: 1.05;
  border-radius: 0.25rem !important;
  padding: 0.2rem 0.25rem !important;
  letter-spacing: 0.01em;
  display: inline-block;
}

pre {
  border: none !important;
}

.dark .light-only {
  display: none;
  visibility: hidden;
}

.light .dark-only {
  display: none;
  visibility: hidden;
}

.pixel-art-image {
  image-rendering: pixelated;
}

.pixel-art-image.small {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.bun-version {
  font-size: 1rem;
  color: var(--rp-c-text-2);
}

.bun-version.home-bun-version {
  margin-top: -1rem;
}

.sub-header-bun-version {
  margin-top: 1rem;
  margin-bottom: -1rem;
  font-size: 0.9rem;
}

.nav-title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-family: var(--rp-font-family-mono);
  font-weight: bold;
  margin-top: -0.125rem;
}

.nav-title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.25rem;
  height: 100%;
  min-width: 7rem;
  margin-bottom: -0.5rem;
  gap: 0.05rem;
}

.nav-title-text.light-only {
  margin-top: -0.75rem;
}

.nav-title-version {
  font-size: 0.8rem;
  letter-spacing: 0.075em;
  margin-left: -0.05rem;
  color: var(--rp-c-text-2);
  font-family: var(--rp-font-family-mono);
}

.home-title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.home-subtitle {
  font-size: 1.15rem;
  text-align: center;
  display: block;
  margin-top: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

.home-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.home-list {
  margin: auto 0;
  width: fit-content;
  line-height: 1.3;
  max-width: min(30rem, 90vw);
  font-size: 1.05rem;
}

.home-list p {
  margin: 0;
  line-height: 1.3;
}

.code-block {
  padding: 1rem 1rem;
  line-height: 1.3;
  background-color: var(--rp-code-block-bg);
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  white-space: nowrap;
  overflow-x: auto;
}

.code-block-prefix {
  color: #777;
  user-select: none;
}

.code-comment {
  color: #777;
}

.note {
  font-size: 0.95rem;
}

.rspress-nav-menu-item {
  gap: 0.25rem;
}

.home-anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
  gap: 1rem;
}

.home-anchors a {
  color: var(--rp-c-link);
}

.whats-new-title {
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0rem;
  /* margin-top: -1rem; */
}

.whats-new-subtitle {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 0.95rem;
  /* margin-top: -1.75rem; */
  opacity: 0.75;
}

.cli-command-doc,
.cli-global-option-doc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.cli-command-doc h3,
.cli-global-option-doc h3 {
  font-size: 1.35rem;
  text-decoration: underline;
}

hr {
  border-color: var(--rp-c-divider-light);
}

.cli-docs-container h3 {
  text-decoration: underline;
}

.cli-doc-section-anchor {
  position: absolute;
  top: -2.25rem;
  pointer-events: none;
}

.config-deprecation-text {
  color: var(--rp-container-danger-text);
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-top: -1rem;
}

.cli-global-option-doc-deprecation-text {
  color: var(--rp-container-danger-text);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.cli-command-options-container {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.cli-command-option-flags :nth-child(2) {
  margin-left: 0.3rem;
}

.cli-command-option-flags > * {
  display: inline-block;
}

.cli-command-option-flags code {
  white-space: nowrap;
}

.config-path {
  margin-top: 0.5rem;
}

.whats-new-list ul {
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0.5rem !important;
}

.deprecated {
  color: var(--rp-container-danger-text);
}

.brag-ticker-container {
  height: 2rem;
}

@keyframes brag-ticker-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% + 0.75rem));
  }
}

.brag-ticker {
  background-color: var(--rp-code-block-bg);
  border-top: 1px solid var(--rp-c-divider-light);
  padding: 0 1rem;
  gap: 0.65rem;
  height: 1.75rem;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  left: 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .brag-ticker {
    animation: brag-ticker-animation 100s linear infinite;
  }

  .sub-header-links {
    overflow-x: scroll;
  }

  .sub-header-links-title {
    display: none;
  }

  .sub-header-links a {
    min-width: 9rem;
  }
}

@media (min-width: 769px) {
  .brag-ticker {
    animation: brag-ticker-animation 190s linear infinite;
  }
}

.brag-ticker-item {
  white-space: nowrap;
}

.brag-ticker-item.dot {
  color: var(--rp-container-info-text);
  font-size: 0.8em;
}

.sub-header {
  margin-top: -1rem;
}

.sub-header hr {
  margin: 2rem 0;
}

.sub-header-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sub-header-links-title {
  margin-right: 0.5rem;
}

.sub-header-links a {
  color: var(--rp-c-link);
  padding: 0.125rem 0.85rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid var(--rp-c-divider);
}

.sub-header-links a.active {
  background-color: var(--rp-c-bg-soft);
  color: var(--rp-c-text-1);
}

.rspress-doc {
  padding-bottom: 3rem !important;
}

.rspress-doc-footer {
  display: none;
}

.footer {
  width: 100%;
  color: var(--rp-c-text-2);
  background-color: var(--rp-c-bg);
  z-index: 1;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.footer a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

@media (max-width: 768px) {
  .footer {
    font-size: 0.65rem;
  }
}

.animated-sprite-container {
  width: fit-content;
  height: fit-content;
}

.bwunster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.bwunster-top {
  width: 128px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bwunster-bottom {
  margin-top: 0.75rem;
}

.bwunster-bottom .light-only {
  margin-top: -25px;
}

.bwunster-idle {
  position: absolute;
}

.reference-divider {
  margin-top: 2rem;
  margin-bottom: -0.5rem;
}

.home-smorsic-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 4rem;
}

.smorsic-banner-logo {
  height: auto;
}

.smorsic-banner-logo:hover {
  filter: brightness(0.9);
}

#who-is-bwunster {
  text-align: center;
}

.lore-bwunster {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.lore-recipe {
  margin-bottom: 2.5rem;
}

.lore-recipe ol {
  line-height: 1.3;
}

.lore-recipe span {
  line-height: 1.7;
}

.lore-credits {
  color: var(--rp-c-text-2);
  display: flex;
  flex-direction: column;
}

.lore-credits > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: -0.5rem;
}

.lore-credits a {
  margin-right: 0.25rem;
  font-size: 1.1em;
}

.config-divider {
  padding-top: 1rem;
}

#project-root-configuration,
#workspace-configuration,
#settable-environment-variables {
  margin-top: 2rem;
}

.inline-link {
  color: var(--rp-c-link);
  font-weight: 500;
  transition: color 0.25s;
}

.inline-link:hover {
  border-bottom: 1px solid var(--rp-c-brand);
}

.env-vars-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.env-vars-list li > code {
  font-size: 1.5rem !important;
  margin-bottom: 0.25rem;
}
